*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
}

header {
  padding: 1rem;
  background: green;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav_items {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style-type: none;
}